<div class="row">
  <!-- chart caard section start -->
  <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="main-tiles border-5 border-0 card-hover card o-hidden">
      <div class="custome-1-bg b-r-4 card-body">
        <div class="media align-items-center static-top-widget">
          <div class="media-body p-0">
            <span class="m-0">Total Revenue</span>
            <h4 class="mb-0 counter">₹ {{totalRevenue}}
              <span class="badge badge-light-primary grow">
                <i data-feather="trending-up"></i>8.5%</span>
            </h4>
          </div>
          <div class="align-self-center text-center">
            <i class="ri-database-2-line"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="main-tiles border-5 card-hover border-0 card o-hidden">
      <div class="custome-2-bg b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="media-body p-0">
            <span class="m-0">Total Orders</span>
            <h4 class="mb-0 counter">{{totalOrders}}
              <span class="badge badge-light-danger grow">
                <i data-feather="trending-down"></i>8.5%</span>
            </h4>
          </div>
          <div class="align-self-center text-center">
            <i class="ri-shopping-bag-3-line"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 

   <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="main-tiles border-5 card-hover border-0 card o-hidden">
      <div class="custome-3-bg b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="media-body p-0">
            <span class="m-0">Total Products</span>
            <h4 class="mb-0 counter">{{totalProducts}}
              <a
                href="add-new-product.html"
                class="badge badge-light-secondary grow"
              >
                ADD NEW</a>
            </h4>
          </div>

          <div class="align-self-center text-center">
            <i class="ri-chat-3-line"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 

   <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="main-tiles border-5 card-hover border-0 card o-hidden">
      <div class="custome-4-bg b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="media-body p-0">
            <span class="m-0">Total Customers</span>
            <h4 class="mb-0 counter">{{totalUsers}}
              <span class="badge badge-light-success grow">
                <i data-feather="trending-down"></i>8.5%</span>
            </h4>
          </div>

          <div class="align-self-center text-center">
            <i class="ri-user-add-line"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 

   <div class="col-12">
    <div class="card o-hidden card-hover">
      <div class="card-header border-0 pb-1">
        <div class="card-header-title p-0">
          <h4>Category</h4>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="category-slider no-arrow">
          {{#each categories}}
            <div>
              <div class="dashboard-category">
                <a href="javascript:void(0)" class="category-name" >
                  <h6>{{name}}</h6>
                </a>
                <a href="javascript:void(0)" class="category-image">
                  <img
                    src="/admin/images/category/{{image}}"
                    class="img-fluid"
                    alt=""
                  />
                </a>
                
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div> 
  <!-- chart card section End -->

  <!-- Earning chart star-->
   <div class="col-xl-6">
    <div class="card o-hidden card-hover">
      <div class="card-header border-0 pb-1">
        <div class="card-header-title">
          <h4>Revenue Report</h4>
        </div>
      </div>
      <div class="card-body p-0">
        <div id="report-chart"></div>
      </div>
    </div>
  </div> 
  <!-- Earning chart  end-->

  <!-- Best Selling Product Start -->
  <div class="col-xl-6 col-md-12">
    <div class="card o-hidden card-hover">
      <div class="card-header card-header-top card-header--2 px-0 pt-0">
        <div class="card-header-title">
          <h4>Best Selling Product</h4>
        </div>

        <div class="best-selling-box d-sm-flex d-none">
        </div>
      </div>

      <div class="card-body p-0">
        <div>
          <div class="table-responsive">
            <table
              class="best-selling-table w-image w-image w-image table border-0"
            >
              <tbody>
                {{#each topProducts}}
                    <tr>
                    <td>
                        <div class="best-product-box">
                        <div class="product-image">
                            <img
                            src="/admin/images/products/{{image}}" 
                            class="img-fluid"
                            alt="Product"
                            />
                        </div>
                        <div class="product-name">
                            <h5>{{name}}</h5>
                        </div>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Price</h6>
                        <h5>₹ {{price}}</h5>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Orders</h6>
                        <h5>{{quantity}}</h5>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Amount</h6>
                        <h5>₹ {{total}}</h5>
                        </div>
                    </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div> 
  <!-- Best Selling Product End -->

  <!-- Recent orders start-->
   <div class="col-xl-6">
    <div class="card o-hidden card-hover">
      <div class="card-header card-header-top card-header--2 px-0 pt-0">
        <div class="card-header-title">
          <h4>Recent Orders</h4>
        </div>

        <div class="best-selling-box d-sm-flex d-none">
        </div>
      </div>

      <div class="card-body p-0">
        <div>
          <div class="table-responsive">
            <table class="best-selling-table table border-0">
              <tbody>
                {{#each recentOrder}}
                    <tr>
                    <td>
                        <div class="best-product-box">
                        <div class="product-name">
                            <h5>{{userName}}</h5>
                            <h6>#{{orderId}}</h6>
                        </div>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Date Placed</h6>
                        <h5>{{date}}</h5>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Price</h6>
                        <h5>₹ {{total}}</h5>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Order Status</h6>
                        <h5>{{status}}</h5>
                        </div>
                    </td>

                    <td>
                        <div class="product-detail-box">
                        <h6>Payment</h6>
                        <h5 class="text-danger">{{payment_method}}</h5>
                        </div>
                    </td>
                    </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Recent orders end-->

  <!-- Earning chart star-->
   <div class="col-xl-6">
    <div class="card o-hidden card-hover">
      <div class="card-header border-0 mb-0">
        <div class="card-header-title">
          <h4>Year Wise Report</h4>
        </div>
      </div>
      <div class="card-body p-0">
        <div id="bar-chart-earning"></div>
      </div>
    </div>
  </div> 
  <!-- Earning chart end-->

  <!-- Transactions start-->
   <div class="col-xxl-4 col-md-6">
    <div class="card o-hidden card-hover">
      <div class="card-header border-0">
        <div class="card-header-title">
          <h4>Transactions</h4>
        </div>
      </div>

       <div class="card-body pt-0">
        <div>
          <div class="table-responsive">
            <table class="user-table transactions-table table border-0">
              <tbody>
                <tr>
                  <td>
                    <div class="transactions-icon">
                      <i class="ri-shield-line"></i>
                    </div>
                    <div class="transactions-name">
                      <h6>Cash on delivery</h6>
                    </div>
                  </td>

                  <td class="lost">₹ {{cashOnDelivery}}</td>
                </tr>
                <tr>
                  <td class="td-color-2">
                    <div class="transactions-icon">
                      <i class="ri-exchange-dollar-line"></i>
                    </div>
                    <div class="transactions-name">
                      <h6>Paypal</h6>
                      <p></p>
                    </div>
                  </td>

                  <td class="lost">₹ {{paypalTransaction}}</td>
                </tr>
                 <tr>
                  <td class="td-color-4 pb-0">
                    <div class="transactions-icon">
                      <i class="ri-bar-chart-grouped-line"></i>
                    </div>
                    <div class="transactions-name">
                      <h6>Refund</h6>
                      <p>Amount</p>
                    </div>
                  </td>

                  <td class="success pb-0">₹ {{totalRefunds}}</td>
                </tr>
                <tr>
                  <td class="td-color-3">
                    <div class="transactions-icon">
                      <i class="ri-bank-card-line"></i>
                    </div>
                    <div class="transactions-name">
                      <h6>Coupon</h6>
                      <p>Applied</p>
                    </div>
                  </td>

                  <td class="lost">₹ {{totalCouponAmount}}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <!-- Transactions end-->

  <!-- visitors chart start-->
   <div class="col-xxl-4 col-md-6">
    <div class="h-100">
      <div class="card o-hidden card-hover">
        <div class="card-header border-0">
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-header-title">
              <h4>Category</h4>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="pie-chart">
            <div id="pie-chart-visitors"></div>
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>

<style>
  .dashboard-category .category-image img{ filter: none; opacity: initial; }
  .dashboard-category .category-image:hover img{ -webkit-filter:
  brightness(100); filter: none; opacity: 1; }
</style>