<!-- Hero slider-->
<section class="tns-carousel tns-controls-lg">
    <div class="tns-carousel-inner"
        data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #3aafd2;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img
                    class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/01.jpg"
                    alt="Summer Collection">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1"
                    style="max-width: 42rem; z-index: 10;">
                    <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-light fw-light pb-1 from-start">Has just arrived!</h3>
                        <h2 class="text-light display-5 from-start delay-1">Huge Summer Collection</h2>
                        <p class="fs-lg text-light pb-3 from-start delay-2">Swimwear, Tops, Shorts, Sunglasses &amp;
                            much more...</p>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary"
                                href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #f5b1b0;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img
                    class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/02.jpg"
                    alt="Women Sportswear">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1"
                    style="max-width: 42rem; z-index: 10;">
                    <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-light fw-light pb-1 from-bottom">Hurry up! Limited time offer.</h3>
                        <h2 class="text-light display-5 from-bottom delay-1">Women Sportswear Sale</h2>
                        <p class="fs-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp;
                            much more...</p>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary"
                                href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #eba170;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img
                    class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="img/home/hero-slider/03.jpg"
                    alt="Men Accessories">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1"
                    style="max-width: 42rem; z-index: 10;">
                    <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-light fw-light pb-1 from-top">Complete your look with</h3>
                        <h2 class="text-light display-5 from-top delay-1">New Men's Accessories</h2>
                        <p class="fs-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much
                            more...</p>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary"
                                href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- Popular categories-->
     <section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
        <div class="row">
          <div class="col-xl-8 col-lg-9">
            <div class="card border-0 shadow-lg">
              <div class="card-body px-3 pt-grid-gutter pb-0">
                <div class="row g-0 ps-1">
                  {{#each categories}}
                  <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none me-1" href="/category/{{name}}/{{_id}}" ><img class="d-block rounded mb-3" src="/admin/images/category/{{image}}" alt="Men">
                      <h3 class="fs-base pt-1 mb-0">{{name}}</h3></a></div>
                      {{/each}}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Products grid (Trending products)-->
      <section class="container pt-md-3 pb-5 mb-md-3">
        <h2 class="h3 text-center">Trending products</h2>
        <div class="row pt-4 mx-n2">
          <!-- Product-->
          {{#each products}}
          <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="/product/{{name}}/{{_id}}"><img src="/admin/images/products/{{thumbnail_image}}" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="/product/{{name}}/{{_id}}"></a>
                <h3 class="product-title fs-sm"><a href="shop-single-v1.html">{{name}}</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent"><small>₹{{price}}</small></span></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            
             
            </div>
            <hr class="d-sm-none">
          </div>
          {{/each}}
        
        </div>
        <div class="text-center pt-3"><a class="btn btn-outline-accent" href="shop-grid-ls.html">More products<i class="ci-arrow-right ms-1"></i></a></div>
      </section>
