 <!-- Page Title-->                               
      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap"><a href="#">Account</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">Orders history</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My orders</h1>
          </div>
        </div>
      </div>
   <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- Sidebar-->
          {{>user-profile}}
          <!-- Content  -->
          <section class="col-lg-8">
            <!-- Toolbar-->
            
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
              <div class="d-flex align-items-center">
                <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label>
                <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label>
                <select class="form-select" id="order-sort">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select>
              </div><a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="/signout"><i class="ci-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Orders list-->
            <div class="table-responsive fs-md mb-4">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Order #</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {{#each orders}}
                  
                  <tr id="order_{{_id}}">
                    
                    <td class="py-3">
                       <a href="/orders/details/{{_id}}" class="text-inherit">{{orderId}}</a>

                    </td>
                    <td class="py-3">{{total}}</td>
                    
                
                    
                    <td class="py-3">{{date}}</td>
                    
                    <td class="py-3"><span class="badge bg-info m-0"> {{status}}</span></td>
                    <td class="py-3">
                       {{#if cancelStatus}}{{else}}
                      <button id="cancel_{{_id}}" type="button" class="btn btn-primary" onclick="cancelOrder('{{_id}}')"
                              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Cancel Order
                      </button>
                      {{/if}}
                    </td>
                     

                  </tr>

                 

                 
                  
                  {{/each}}
                </tbody>
              </table>
            </div>
            <!-- Pagination-->
            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
              </ul>
              <ul class="pagination">
                <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
              </ul>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
      <div class="modal fade" id="deleteAddressModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Cancel </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- modal body -->
          <div class="modal-body">
          <h6>Are you sure you want to Cancel this order?</h6>
          <input type="hidden" id="addressId">
          </div>
          <input type="hidden" value="" id="orderId">
          <!-- modal footer -->
          <div class="modal-footer">
          <!-- btn -->
          <button type="button" class="btn btn-outline-gray-400" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" onclick="confirmDelete()">Yes</button>
          </div>
      </div>
      </div>
    </div>      
 
   <script>
  async function cancelOrder(id){
    $('#deleteAddressModal').modal('show')
    document.getElementById('orderId').value= id
  }

  async function confirmDelete(){
    const id = document.getElementById('orderId').value
    let deleteOrder = await fetch('/cancel/order/'+id,{
       headers: {
          'Content-Type': 'application/json',
      },
      method:'put',
    })
    let response = await deleteOrder.json()
    if(response =='success'){
       $('#deleteAddressModal').modal('hide')
      $("#cancel_"+id).remove()
    }
  }
</script>                