<div class="col-sm-12">
    <div class="card">
        {{#with orderDetails}}
        <div class="card-body">
            <div class="title-header title-header-block package-card">
                
                <div>
                    <h5>Order #{{orderId}}</h5>
                </div>
                <div class="card-order-section">
                    <ul>
                        <li>{{../orderDate}}</li>
                    </ul>
                </div>
            </div>
            <div class="bg-inner cart-section order-details-table">
                <div class="row g-4">
                    <div class="col-xl-8">
                        <div class="table-responsive table-details">
                            <table class="table cart-table table-borderless">
                                <thead>
                                    <tr>
                                        <th colspan="2">Item</th>
                                        <th class="text-end" colspan="2">
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each ../products}}
                                    <tr class="table-order">
                                        <td>
                                            <a href="javascript:void(0)">
                                                <img src="/admin/images/products/{{image}}"
                                                    class="img-fluid blur-up lazyload" alt="{{name}}">
                                            </a>
                                        </td>
                                        <td>
                                            <p>{{name}}</p>
                                        </td>
                                        <td>
                                            <p>Quantity</p>
                                            <h5>{{quantity}}</h5>
                                        </td>
                                        <td>
                                            <p>Price</p>
                                            <h5>₹ {{amount}}</h5>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>

                                <tfoot>
                                    <tr class="table-order">
                                        <td colspan="3">
                                            <h5>Subtotal :</h5>
                                        </td>
                                        <td>
                                            <h4>₹  {{actualAmount}}</h4>
                                        </td>
                                    </tr>

                                    <tr class="table-order">
                                        <td colspan="3">
                                            <h5>Coupon</h5>
                                        </td>
                                        <td>
                                            <h4>₹ {{couponAmount}}</h4>
                                        </td>
                                    </tr>

                                    <tr class="table-order">
                                        <td colspan="3">
                                            <h4 class="theme-color fw-bold">Total Price :</h4>
                                        </td>
                                        <td>
                                            <h4 class="theme-color fw-bold">₹ {{total}}</h4>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="order-success">
                            <div class="row g-4">
                                <h4>summery</h4>
                                <ul class="order-details">
                                    <li>Order ID: {{orderId}}</li>
                                    <li>Order Date: {{../orderDate}}</li>
                                </ul>

                                <h4>shipping address</h4>
                                <ul class="order-details">
                                    {{#each ../address}}
                                        <li>{{firstName}} {{lastName}}</li>
                                        <li>{{address1}},{{address2}}</li>
                                        <li>{{city}} ,{{state}},{{country}} ,{{zipCode}}</li>
                                    {{/each}}
                                </ul>

                                <div class="payment-mode">
                                    <h4>payment method</h4>
                                    <p>{{payment_method}}</p>
                                </div>

                                {{!-- <div class="delivery-sec">
                                    <a href="order-tracking.html">track order</a>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section end -->
        </div>
        {{/with}}
    </div>
</div>